* {
    font-family: courier-std, monospace;
    font-style: normal;
    font-weight: bold;
}

body {
    background-image: url(./img/Back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    color: white;
    margin: auto;
}

header > a {
    text-decoration: none;
    color: white;
    flex-basis: 20%;
    margin: 0;
}

header > a > img {
  float: left;
  margin: 15px auto;
}


header > a > p {
   text-align: left;
   margin-left: 4em;
   
  }

  header> a > img:hover {
    color-adjust: #F26522;
  }



#milan {
    font-size: 1.5rem;
    text-align: center;
}

header > div {
    flex-basis: 80%;
    text-align: right;
    margin: auto;
}



main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main > figure {
     margin:  20px auto;
}

main > figure > img {
    position: relative;
    background: linear-gradient(white, black);
    padding: 2px;
}


figcaption {
    text-align: center;
    font-weight: bold;
    color: white;
}

footer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.break {
    height: 0;
    flex-basis: 100%;
}