* {
    font-family: courier-std, monospace;
    font-style: normal;
    font-weight: bold;
}

body {
    background-image: url(./img/Back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    color: white;
    margin: auto;
}

header > a {
    text-decoration: none;
    color: white;
    flex-basis: 50%;
    display: flex;
}

header > div {
    flex-basis: 50%;
    text-align: right;
    margin: auto;
}


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main > figure {
     margin:  20px auto;
}

main > figure > img {
    position: relative;
    background: linear-gradient(white, black);
    padding: 2px;
}


figcaption {
    text-align: center;
    font-weight: bold;
    color: white;
}

footer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.break {
    height: 0;
    flex-basis: 100%;
}